<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 1</h5>
            <p>Sons são ondas sonoras que são criadas por meio de perturbações no ar.</p>
            <p>Na nossa interface, como representamos as ondas sonoras?</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-column text-start">
        <div class="d-flex flex-column align-items-center">
            <ol>
                <li class="lista-alfa">Utilizando gráfico de colunas.</li>
                <li class="lista-alfa">Utilizando senoides.</li>
                <li class="lista-alfa">Utilizando diagramas.</li>
                <li class="lista-alfa">Não conseguimos representá-las.</li>
            </ol>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa7.etapa7Conteudo26, 7, 28)" role="button">A</div>
            <div class="etapa1-notas otrec mb-2 me-1" onclick="otrec(conteudo_etapa7.etapa7Conteudo26, 7, 28)" role="button">B</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa7.etapa7Conteudo26, 7, 28)" role="button">C</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa7.etapa7Conteudo26, 7, 28)" role="button">D</div>
        </div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>