<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>A amplitude corresponde ao valor máximo alcançado pela senoide.</h5>
        </div>
        <div>
            <img class="w-75" src="img/fig5_etapa7.png">
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa7.etapa7Conteudo9, 7)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa7.etapa7Conteudo11, 7)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>