<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Abaixo temos duas senoides. A senoide em preto será a nossa referência.</h5>
            <p>Agora, a segunda senoide possui a mesma amplitude da referência e quatro vezes a frequência dela.</p>
        </div>
        <div>
            <img class="w-75" src="img/fig12_etapa7.png">
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa7.etapa7Conteudo17, 7)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa7.etapa7Conteudo19, 7)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>