<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Abaixo temos duas senoides. A senoide em preto será a nossa referência.</h5>
            <p>A segunda senoide possui a mesma frequência da referência e 1/2 (metade) da amplitude dela.</p>
        </div>
        <div>
            <img class="w-75" src="img/fig15_etapa7.png">
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa7.etapa7Conteudo20, 7)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa7.etapa7Conteudo22, 7)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>