<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Existem várias fontes de ondas sonoras.</h5>
            <p>Na área musical, estamos interessados nos instrumentos musicais.</p>
            <p>Não conseguimos visualizar as ondas sonoras.</p>
            <p>Porém, podemos representá-las utilizando gráficos.</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a onclick="removePaginaAtual(7)" href="conteudo_inicial7.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa7.etapa7Conteudo3, 7)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>