<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 4</h5>
            <p>Considerando a senoide em preto a nossa referência. Assinale a alternativa correta de acordo com as características de amplitude e frequência das senoides.</p>
        </div>
        <div>
            <img class="w-75" src="img/fig11_etapa7.png">
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-column text-start">
        <div class="d-flex flex-column align-items-center">
            <ol>
                <li class="lista-alfa">A segunda senoide possui 3/4 (três quartos) da amplitude da senoide referência.</li>
                <li class="lista-alfa">A segunda senoide possui a mesma amplitude da senoide referência e 2 (duas) vezes a frequência dela.</li>
                <li class="lista-alfa">A segunda senoide possui a mesma amplitude da senoide referência e 4 (quatro) vezes a frequência dela.</li>
                <li class="lista-alfa">A segunda senoide possui 4 vezes a amplitude da senoide referência e possui a mesma frequência dela.</li>
            </ol>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa7.etapa7Conteudo29, 7, 31)" role="button">A</div>
            <div class="etapa1-notas otrec mb-2 me-1" onclick="otrec(conteudo_etapa7.etapa7Conteudo29, 7, 31)" role="button">B</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa7.etapa7Conteudo29, 7, 31)" role="button">C</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa7.etapa7Conteudo29, 7, 31)" role="button">D</div>
        </div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>