<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Existem sons fracos e sons fortes.</h5>
            <p>Os sons fracos possuem a característica de pequena amplitude.</p>
            <p>Os sons fortes possuem a característica de grande amplitude.</p>
            <p>Nas próximas telas veremos a comparação de duas senoides para visualizarmos os conceitos de <b>Amplitude</b> e <b>Frequência</b>.</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa7.etapa7Conteudo15, 7)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa7.etapa7Conteudo17, 7)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>