<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 3</h5>
            <p>Qual a amplitude da senoide abaixo?</p>
            <p>Lembrando que amplitude corresponde ao valor máximo alcançado pela senoide.</p>
        </div>
        <div>
            <img class="w-75" src="img/fig7_etapa7.png">
        </div>
    </div>
    <div class="pt-4 etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa7.etapa7Conteudo28, 7, 30)" role="button">6</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa7.etapa7Conteudo28, 7, 30)" role="button">2</div>
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa7.etapa7Conteudo28, 7, 30)" role="button">1</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa7.etapa7Conteudo28, 7, 30)" role="button">0.75</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa7.etapa7Conteudo28, 7, 30)" role="button">0.5</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>