<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Por exemplo, considere a nota C#1 abaixo.</h5>
            <p>Aumentaremos a intensidade da nota aos poucos:</p>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-flex cor-notas-bg justify-content-around">
                <div class="w-10 text-white">C#1
                    <div class="h-75 d-flex flex-column justify-content-end">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa8.etapa8Conteudo14, 8)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa8.etapa8Conteudo16, 8)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>