<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Observe o seguinte exemplo:</h5>
        </div>
        <div>
            <img class="w-75" src="img/gif_etapa2_1.gif">
        </div>
    </div>
</section>
<div class="btn-etapas-container ">
    <div class="btn-container">
        <a onclick="removePaginaAtual(2)" href="conteudo_inicial2.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa2.etapa2Conteudo3, 2)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>