<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 3</h5>
            <p>Em que posição está a nota C5?</p>
        </div>
        <div>
            <img class="w-75" src="img/img_exercicio1.png">
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa3.etapa3Conteudo21, 3, 17)" role="button">1</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa3.etapa3Conteudo21, 3, 17)" role="button">2</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa3.etapa3Conteudo21, 3, 17)" role="button">3</div>
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa3.etapa3Conteudo21, 3, 17)" role="button">4</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa3.etapa3Conteudo21, 3, 17)" role="button">5</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>