<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 4</h5>
            <p>Sendo assim, qual a nota mais aguda: a nota C3 ou a nota C4?</p>
            <p>Obs: As notas agudas são notas de alta frequência sonora.</p>
        </div>
        <div>
            <img class="w-75" src="img/pentagrama_notas.png">
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa3.etapa3Conteudo24, 3, 18)" role="button">C3</div>
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa3.etapa3Conteudo24, 3, 18)" role="button">C4</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>