<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 6</h5>
            <p>Qual a nota mais grave: a nota C3 ou a nota C4?</p>
            <p>As notas graves são notas de baixa frequência sonora.</p>
        </div>
        <div>
            <img class="w-75" src="img/pentagrama_notas.png">
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa3.etapa3Conteudo26, 3, 20)" role="button">C3</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa3.etapa3Conteudo26, 3, 20)" role="button">C4</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>