<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Para isso, precisamos definir uma nota de referência.</h5>
            <p>Por exemplo, consideramos que a 2ª linha indicará a nota Sol(G):</p>
        </div>
        <div>
            <img class="w-75" src="img/pentagrama2.png">
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a onclick="removePaginaAtual(3)" href="conteudo_inicial3.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa3.etapa3Conteudo3, 3)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>