<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 5</h5>
            <p>Qual a nota mais aguda: a nota C4 ou a nota C5?</p>
        </div>
        <div>
            <img class="w-75" src="img/pentagrama_notas.png">
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre " onclick="odarre(conteudo_etapa3.etapa3Conteudo25, 3, 19)" role="button">C4</div>
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa3.etapa3Conteudo25, 3, 19)" role="button">C5</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>