<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Reforçando algumas operações matemáticas:</h5>
            <p>Primeiro, vamos reforçar alguns exemplos de multiplicação:</p>
            <p>Considere o número <b>1 (um)</b>.</p>
            <p>O número equivalente ao <b>dobro</b> de 1 é o <b>2 (dois)</b>.</p>
            <p>Pois, <b>1x2 = 2</b> (Um multiplicado por dois é igual a dois).</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a onclick="removePaginaAtual(9)" href="conteudo_inicial9.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa9.etapa9Conteudo3, 9)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>