<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Semínima (1 tempo), mínima (2 tempos) e Semibreve (4 tempos), considerando a nota D4.</h5>
        </div>
        <div>
            <img class="w-75" src="img/gif1_etapa9.gif">
        </div>
    </div>
</section>
<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa9.etapa9Conteudo19, 9)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa9.etapa9Conteudo21, 9)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>