<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Reforçando algumas operações matemáticas:</h5>
            <p>Por fim, vamos reforçar alguns exemplos de soma de frações:</p>
            <p>Considere a fração <math class="math">
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>4</mn>
                </mfrac>
            </math> <b>(Um quarto)</b>.</p>
            <p>O equivalente ao <b>triplo</b> de um quarto é <math class="math">
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>2</mn>
                </mfrac>
                <mo>+</mo>
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>4</mn>
                </mfrac>
            </math> <b>(Meio mais um quarto)</b>.</p>
            <p>Pois, <math class="math">
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>4</mn>
                </mfrac>
                <mo>+</mo>
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>4</mn>
                </mfrac>
                <mo>+</mo>
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>4</mn>
                </mfrac>
            </math> = <math class="math">
                <mfrac>
                <msup>
                    <mi>1</mi>
                </msup>
                <mn>2</mn>
            </mfrac>
            <mo>+</mo>
            <mfrac>
                <msup>
                    <mi>1</mi>
                </msup>
                <mn>4</mn>
            </mfrac>
        </math> (Três vezes um quarto é igual a meio mais um quarto).</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa9.etapa9Conteudo13, 9)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa9.etapa9Conteudo15, 9)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>