<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 2</h5>
            <p>A partitura musical é dividida em compassos.</p>
            <p>Quantos compassos há na partitura abaixo e qual a duração de tempo de cada compasso?</p>
        </div>
        <div>
            <img class="w-75" src="img/etapa9_exerc2.png">
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-column text-start">
        <div class="d-flex flex-column align-items-center">
            <ol>
                <li class="lista-alfa">3 compassos com duração de 2 unidades de tempo.</li>
                <li class="lista-alfa">3 compassos com duração de 4 unidades de tempo.</li>
                <li class="lista-alfa">4 compassos com duração de 3 unidades de tempo.</li>
                <li class="lista-alfa">2 compassos com duração de 4 unidades de tempo.</li>
            </ol>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa9.etapa9Conteudo42, 9, 39)" role="button">A</div>
            <div class="etapa1-notas otrec mb-2 me-1" onclick="otrec(conteudo_etapa9.etapa9Conteudo42, 9, 39)" role="button">B</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa9.etapa9Conteudo42, 9, 39)" role="button">C</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa9.etapa9Conteudo42, 9, 39)" role="button">D</div>
        </div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>