<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Por exemplo, considere o painel virtual abaixo contendo as notas de C1 a C2:</h5>
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-50">C1
                <div class="h-100px cor-nota-do-c1 cor-hsl"></div>
            </div>
            <div class="w-50">D1
                <div class="h-100px cor-nota-re-d1 cor-hsl"></div>
            </div>
            <div class="w-50">E1
                <div class="h-100px cor-nota-mi-e1 cor-hsl"></div>
            </div>
            <div class="w-50">F1
                <div class="h-100px cor-nota-fa-f1 cor-hsl"></div>
            </div>
            <div class="w-50">G1
                <div class="h-100px cor-nota-sol-g1 cor-hsl"></div>
            </div>
            <div class="w-50">A1
                <div class="h-100px cor-nota-la-a1 cor-hsl"></div>
            </div>
            <div class="w-50">B1
                <div class="h-100px cor-nota-si-b1 cor-hsl"></div>
            </div>
            <div class="w-50">C2
                <div class="h-100px cor-nota-do-c2 cor-hsl"></div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa6.etapa6Conteudo2, 6)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa6.etapa6Conteudo4, 6)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>