<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 5</h5>
            <p>Quais notas existem apenas 1 semitom entre elas?</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas otrec m-2" onclick="otrec(conteudo_etapa6.etapa6Conteudo22, 6, 26)" role="button">E1 a F1 | B1 a C2</div>
        <div class="etapa1-notas odarre m-2" onclick="odarre(conteudo_etapa6.etapa6Conteudo22, 6, 26)" role="button">D1 a E1 | E1 a F1</div>
        <div class="etapa1-notas odarre m-2" onclick="odarre(conteudo_etapa6.etapa6Conteudo22, 6, 26)" role="button">C1 a D1 | G1 a A1</div>
        <div class="etapa1-notas odarre m-2" onclick="odarre(conteudo_etapa6.etapa6Conteudo22, 6, 26)" role="button">G1 a A1 | B1 a C2</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>