<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Na nossa interface, as notas sustenidas serão indicadas por uma barra branca ao lado.</h5>
            <p>Observe a diferença entre as notas A e A#:</p>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-flex cor-notas-bg justify-content-around">
                <div class="w-10 text-white">A
                    <div class="h-100px cor-nota-la-a1 cor-hsl"></div>
                </div>
                <div class="w-10 text-white">A#
                    <div class="d-flex">
                        <div class="w-20 h-100px cor-sustenida"></div>
                        <div class="w-80 h-100px cor-nota-la-a1 cor-hsl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa6.etapa6Conteudo15, 6)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa6.etapa6Conteudo17, 6)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>