<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Considere as notas de F1 a B1:</h5>
            <p>F1, G1, A1, B1.</p>
            <p>Podemos dizer que o intervalo entre cada nota é um <b>tom</b>.</p>
            <h5>Agora, considere as notas de B1 a C2:</h5>
            <p>B1, C2.</p>
            <p>Podemos dizer que o intervalo entre essas notas é um <b>semitom</b>.</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a onclick="removePaginaAtual(6)" href="conteudo_inicial6.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa6.etapa6Conteudo3, 6)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>