<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 6</h5>
            <p>Na nossa interface, como diferenciamos as notas sustenidas?</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-column text-start">
        <div class="d-flex flex-column align-items-center">
            <ol>
                <li class="lista-alfa">Com uma barra branca na base da nota.</li>
                <li class="lista-alfa">Com uma barra branca no topo da nota.</li>
                <li class="lista-alfa">Com uma barra branca ao lado da nota.</li>
                <li class="lista-alfa">Com tamanho diferente da nota.</li>
                <li class="lista-alfa">Não tem diferença da nota.</li>
            </ol>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa6.etapa6Conteudo23, 6, 27, true)" role="button">A</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa6.etapa6Conteudo23, 6, 27, true)" role="button">B</div>
            <div class="etapa1-notas otrec mb-2 me-1"  onclick="otrec(conteudo_etapa6.etapa6Conteudo23, 6, 27, true)" role="button">C</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa6.etapa6Conteudo23, 6, 27, true)" role="button">D</div>
            <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa6.etapa6Conteudo23, 6, 27, true)" role="button">E</div>
        </div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>