<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 3</h5>
            <p>Sabendo que um tom equivale a dois semitons.</p>
            <p>Quantos semitons há entre G1 e B1?</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa6.etapa6Conteudo20, 6, 24)" role="button">&nbsp;1 semiton&nbsp;</div>
        <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa6.etapa6Conteudo20, 6, 24)" role="button">2 semitons</div>
        <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa6.etapa6Conteudo20, 6, 24)" role="button">3 semitons</div>
        <div class="etapa1-notas otrec mb-2 me-1" onclick="otrec(conteudo_etapa6.etapa6Conteudo20, 6, 24)" role="button">4 semitons</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>