<div class="d-flex flex-column justify-content-center container align-items-center etapa1-container pt-4">
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <h1>Parabéns! Etapa 4 concluída.</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center icon-container-trofeu">
        <img class="icon-trofeu" src="../../assets/img/gif_trofeu.gif" />
    </div>
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <div>
            <h5>Clique no botão abaixo para ir para a próxima etapa ou para refazer a etapa.</h5>
        </div>
    </div>
    <div class="btn-etapas-container  ">
        <div class="btn-container">
            <a onclick="refazerExec(telas.etapa4Tela1, 4)" id="refazer" class="btn selecao-etapas-btn" role="button">Refazer a etapa</a>
        </div>
        <div class="btn-container">
            <a onclick="parabens(5)" href="../etapa5/conteudo_inicial5.html" id="btn-avancar-context" class="btn parabens-btn-avancar" role="button">Etapa 5</a>
        </div>
    </div>
</div>