<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Toda nota musical possui frequência sonora específica.</h5>
            <p>Escrevendo dois ciclos de Dó a Si:</p>
            <p>C, D, E, F, G, A, B, C, D, E, F, G, A, B</p>
            <p>Um ciclo, por exemplo de Dó a Dó (C a C), temos 8 notas no total.</p>
            <p>Chamamos esse intervalo entre duas notas consecutivas de mesmo nome do termo "oitava". </p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a onclick="removePaginaAtual(10)" href="conteudo_inicial10.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo3, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>