<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto ">
        <div>
            <h5>As figuras abaixo indicam durações de notas.</h5>
            <p>A semínima indica 1 unidade <b>(1 tempo)</b>.</p>
            <p>A mínima indica 2 unidades <b>(2 tempos)</b>.</p>
            <p>A semibreve indica 4 unidades <b>(4 tempos)</b>.</p>
        </div>
        <div>
            <img class="w-75" src="img/gif_etapa10_3.gif">
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo26, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo28, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>