<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 8</h5>
            <p>Sabendo que um tom equivale a dois semitons.</p>
            <p>Quantos semitons há entre E1 e C2?</p>
        </div>
        <div class="pt-4 etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
            <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa10.etapa10Conteudo43, 10, 52)" role="button">8 semitons</div>
            <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo43, 10, 52)" role="button">9 semitons</div>
            <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo43, 10, 52)" role="button">10 semitons</div>
            <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo43, 10, 52)" role="button">11 semitons</div>
            <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo43, 10, 52)" role="button">12 semitons</div>
        </div>
        <div class="mensagem" id="mensagem"></div>
</section>