<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 11</h5>
            <p>Assinale a alternativa que represente a nota e sua intensidade, corretamente.</p>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-flex cor-notas-bg justify-content-around">
                <div class="w-10">
                    <div class="d-flex h-93 w-100 flex-column justify-content-around pt-3">
                        <div class="h-100 mt-1 cor-nota-sol-g1 cor-hsl"></div>
                        <div class="h-100 mt-1 cor-nota-sol-g1 cor-hsl"></div>
                        <div class="h-100 mt-1 cor-nota-sol-g1 cor-hsl"></div>
                        <div class="h-100 mt-1 cor-nota-sol-g1 cor-hsl"></div>
                        <div class="h-100 mt-1 cor-nota-sol-g1 cor-hsl"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="etapa1-grid-notas d-flex flex-column text-start">
            <div class="d-flex flex-column align-items-center">
                <ol>
                    <li class="lista-alfa">Nota G1 e intensidade baixa</li>
                    <li class="lista-alfa">Nota G1 e intensidade alta</li>
                    <li class="lista-alfa">Nota A1 e intensidade alta</li>
                    <li class="lista-alfa">Nota A1 e intensidade baixa</li>
                    <li class="lista-alfa">Nota B1 e intensidade alta</li>
                </ol>
            </div>
            <div class="d-flex flex-wrap justify-content-evenly">
                <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa10.etapa10Conteudo46, 10, 55)" role="button">A</div>
                <div class="etapa1-notas otrec mb-2 me-1" onclick="otrec(conteudo_etapa10.etapa10Conteudo46, 10, 55)" role="button">B</div>
                <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa10.etapa10Conteudo46, 10, 55)" role="button">C</div>
                <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa10.etapa10Conteudo46, 10, 55)" role="button">D</div>
                <div class="etapa1-notas odarre mb-2 me-1" onclick="odarre(conteudo_etapa10.etapa10Conteudo46, 10, 55)" role="button">E</div>
            </div>
        </div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>