<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 3</h5>
            <p>Quantas oitavas há na sequência abaixo?</p>
            <p>C, D, E, F, G, A, B, C, D, E, F, G, A, B, C, D, E, F, G, A, B, C.</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo38, 10, 47)" role="button">&nbsp;1 oitava&nbsp;</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo38, 10, 47)" role="button">2 oitavas</div>
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa10.etapa10Conteudo38, 10, 47)" role="button">3 oitavas</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo38, 10, 47)" role="button">4 oitavas</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo38, 10, 47)" role="button">5 oitavas</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>