<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Além disso, podemos chamar as notas que estão no intervalo de 1 semitom acima de uma e 1 semitom abaixo de outra de <b>"nota" sustenido 1</b>. Por exemplo:</h5>
            <p>A nota que está no intervalo de 1 semitom acima de C1 e 1 semitom abaixo de D1 chamamos de <b>C#1 (Dó sustenido 1)</b>.</p>
            <p>1 semitom acima de D1 e 1 semitom abaixo de E1 chamamos de <b>D#1 (Ré sustenido 1)</b>.</p> 
            <p>1 semitom acima de F1 e 1 semitom abaixo de G1 chamamos de <b>F#1 (Fá sustenido 1)</b>.</p> 
            <p>1 semitom acima de G1 e 1 semitom abaixo de A1 chamamos de <b>G#1 (Sol sustenido 1)</b>.</p> 
            <p>1 semitom acima de A1 e 1 semitom abaixo de B1 chamamos de <b>A#1 (Lá sustenido 1)</b>.</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo14, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo16, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>