<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto ">
        <div>
            <h5>Vamos rever o conceito de cada nota musical ser representada por uma cor.</h5>
            <div class="etapa1-grid-notas d-flex flex-column text-start ">
                <div class="d-flex flex-column align-items-center">
                    <ol>
                        <ul>A nota Dó(C) é representada pela cor <b>marrom</b>.</ul>
                        <ul>A nota Ré(D) é representada pela cor <b>cinza</b>.</ul>
                        <ul>A nota Mi(E) é representada pela cor <b>rosa</b>.</ul>
                        <ul>A nota Fá(F) é representada pela cor <b>verde-amarelado</b>.</ul>
                        <ul>A nota Sol(G) é representada pela cor <b>laranja</b>.</ul>
                        <ul>A nota Lá(A) é representada pela cor <b>amarelo claro</b>.</ul>
                        <ul>A nota Si(B) é representada pela cor <b>bege</b>.</ul>
                    </ol>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-50">Dó(C)
                <div class="h-100px cor-nota-do-c1 cor-hsl"></div>
            </div>
            <div class="w-50">Ré(D)
                <div class="h-100px cor-nota-re-d1 cor-hsl"></div>
            </div>
            <div class="w-50">Mi(E)
                <div class="h-100px cor-nota-mi-e1 cor-hsl"></div>
            </div>
            <div class="w-50">Fá(F)
                <div class="h-100px cor-nota-fa-f1 cor-hsl"></div>
            </div>
            <div class="w-50">Sol(G)
                <div class="h-100px cor-nota-sol-g1 cor-hsl"></div>
            </div>
            <div class="w-50">Lá(A)
                <div class="h-100px cor-nota-la-a1 cor-hsl"></div>
            </div>
            <div class="w-50">Si(B)
                <div class="h-100px cor-nota-si-b1 cor-hsl"></div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo9, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo11, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>