<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto ">
        <div>
            <h5>Observando o símbolo que indica a duração de quatro unidades de tempo e observando os três compassos:</h5>
            <p>No primeiro compasso temos 4 semínimas, ou seja, 4 x 1 = 4 unidades de tempo.</p>
            <p>No segundo compasso temos 8 colcheias, ou seja, 8 x <math class="math">
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>2</mn>
                </mfrac>
            </math> = 4 unidades de tempo.</p>
            <p> No terceiro compasso temos 16 semicolcheias, ou seja, 16 x <math class="math">
                <mfrac>
                    <msup>
                        <mi>1</mi>
                    </msup>
                    <mn>4</mn>
                </mfrac>
            </math> = 4 unidades de tempo.</p>
        </div>
        <div>
            <img class="w-75" src="../etapa9/img/gif3_etapa9.gif">
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo32, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo34, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>