<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Agora, vamos relembrar os fundamentos básicos de acústica.</h5>
            <p>Ondas sonoras são ondas que se propagam em meio material, criadas por meio de perturbações no ar.</p>
            <p>Não conseguimos visualizar as ondas sonoras mas podemos representá-las utilizando gráficos.</p>
            <p>Para isso, vamos utilizar senoides para representar as ondas sonoras.</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo18, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo20, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>