<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto ">
        <div>
            <h5>Por fim, vamos relembrar as noções de ritmo na música.</h5>
            <p>A música é um conjunto de notas emitidas em um determinado instante de tempo e com duração específica.</p>
            <p>Portanto, quando as notas são emitidas de forma organizada elas originam música.</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo25, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo27, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>