<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 4</h5>
            <p>Levando em conta as pautas musicais.</p>
            <p>Considerando que a segunda linha da pauta corresponde à nota G4, qual a nota representada na seta abaixo?</p>
        </div>
        <div>
            <img class="w-75" src="img/fig6_etapa10.png">
        </div>
    </div>
    <div class="pt-4 etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo39, 10, 48)" role="button">B5</div>
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa10.etapa10Conteudo39, 10, 48)" role="button">A5</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo39, 10, 48)" role="button">C4</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo39, 10, 48)" role="button">B4</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo39, 10, 48)" role="button">A4</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>