<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Perceba que a senoide se comporta de maneira repetitiva, cíclica:</h5>
            <p>Ela começa no valor <b>zero</b>, aumenta até seu valor <b>máximo</b>, depois, diminui até se valor <b>mínimo</b> e aumenta recomeçando no <b>zero</b>.</p>
            <p>Dessa forma, um ciclo se completa e a partir disso, o procedimento é repetido.</p>
        </div>
        <div>
            <img class="w-75" src="../etapa10/img/gif_etapa10_2.gif">
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo19, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo21, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>