<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto ">
        <div>
            <h5>O sustenido # é representado por uma barra branca ao lado da nota.</h5>
            <p>Abaixo, temos o exemplo da nota C#1 com a intensidade mais alta, na esquerda, até a sua menor intensidade (vazio), na direita, quando a nota não está sendo emitida por nenhum instrumento musical.</p>
        </div>
        <div class="d-flex flex-column cor-notas-bg align-items-center text-white">C#1
            <div class="d-flex cor-notas-bg justify-content-around">
                <div class="w-10">
                    <div class="d-flex h-75 justify-content-end">
                        <div class="d-flex h-100 w-20 flex-column justify-content-end">
                            <div class="h-100 cor-sustenida"></div>
                        </div>
                        <div class="d-flex w-100 flex-column justify-content-end">
                            <div class="h-100 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                        </div>
                    </div>
                </div>
                <div class="w-10">
                    <div class="d-flex h-75 justify-content-end">
                        <div class="d-flex h-100 w-20 flex-column justify-content-end">
                            <div class="h-79 cor-sustenida"></div>
                        </div>
                        <div class="d-flex w-100 flex-column justify-content-end">
                            <div class="h-100 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                        </div>
                    </div>
                </div>
                <div class="w-10">
                    <div class="d-flex h-75 justify-content-end">
                        <div class="d-flex h-100 w-20 flex-column justify-content-end">
                            <div class="h-58 cor-sustenida"></div>
                        </div>
                        <div class="d-flex w-100 flex-column justify-content-end">
                            <div class="h-100 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                        </div>
                    </div>
                </div>
                <div class="w-10">
                    <div class="d-flex h-75 justify-content-end">
                        <div class="d-flex h-100 w-20 flex-column justify-content-end">
                            <div class="h-37 cor-sustenida"></div>
                        </div>
                        <div class="d-flex w-100 flex-column justify-content-end">
                            <div class="h-100 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                        </div>
                    </div>
                </div>
                <div class="w-10">
                    <div class="d-flex h-75 justify-content-end">
                        <div class="d-flex h-100 w-20 flex-column justify-content-end">
                            <div class="h-16 cor-sustenida"></div>
                        </div>
                        <div class="d-flex w-100 flex-column justify-content-end">
                            <div class="h-100 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-notas-black"></div>
                            <div class="h-100 mt-1 cor-nota-do-c1 cor-hsl"></div>
                        </div>
                    </div>
                </div>
                <div class="w-10">
                    <div class="h-75 d-flex flex-column justify-content-end">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo24, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo26, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>