<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Toda nota musical possui frequência sonora específica.</h5>
            <p>Observe o seguinte exemplo, considerando três ciclos de Dó a Si:</p>
        </div>
        <div>
            <img class="w-75" src="../etapa2/img/gif_etapa2_2.gif">
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo2, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo4, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>