<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Cada senoide possui duas propriedades:</h5>
            <p><b>Frequência</b> e <b>Amplitude</b>.</p>
            <p>A frequência corresponde ao número de ciclos por unidade de tempo. A amplitude corresponde ao valor máximo alcançado pela senoide.</p>
            <p>No exemplo abaixo, temos uma senoide com quatros ciclos completos e com amplitude da senoide igual a 1:</p>
        </div>
        <div>
            <img class="w-75" src="../etapa7/img/fig4_etapa7.png">
        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo20, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo22, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>