<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 2</h5>
            <p>Clique na opção que corresponde às notas Mi, Sol e Si, respectivamente.</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo37, 10, 46)" role="button">D, E e F</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo37, 10, 46)" role="button">D, G e A</div>
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa10.etapa10Conteudo37, 10, 46)" role="button">E, G e B</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo37, 10, 46)" role="button">E, G e A</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo37, 10, 46)" role="button">C, E e B</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>