<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Podemos, também, considerar oitavas acima ou abaixo das notas que estão em uma pauta:</h5>
            <p>Considerando que a segunda linha da pauta corresponde à nota G4, podemos "pular" as posições até a nota requerida.</p>
            <p>Por exemplo, a nota A5 ficaria nesta posição na pauta:</p>
        </div>
        <div>
            <img class="w-75" src="../etapa3/img/pentagrama_tela6.png">
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo6, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo8, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>