<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 6</h5>
            <p>Usando como referência as claves de Sol e claves de Fá.</p>
            <p>Em qual linha está a nota Sol na clave de Sol e a nota Fá na clave de Fá, respectivamente?</p>
        </div>
        <div class="etapa1-grid-notas d-flex flex-column text-start">
            <div class="d-flex flex-column align-items-center">
                <ol>
                    <li class="lista-alfa">Primeira linha e quarta linha.</li>
                    <li class="lista-alfa">Segunda linha e quinta linha.</li>
                    <li class="lista-alfa">Quarta linha e segunda linha.</li>
                    <li class="lista-alfa">Segunda linha e quarta linha.</li>
                </ol>
            </div>
            <div class="d-flex flex-wrap justify-content-evenly">
                <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo41, 10, 50)" role="button">A</div>
                <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo41, 10, 50)" role="button">B</div>
                <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo41, 10, 50)" role="button">C</div>
                <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa10.etapa10Conteudo41, 10, 50)" role="button">D</div>
            </div>
        </div>
        <div class="mensagem" id="mensagem"></div>
</section>