<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 1</h5>
            <p>Clique na opção que corresponde às notas Dó, Fá e Lá, respectivamente.</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa10.etapa10Conteudo36, 10, 45)" role="button">C, F e A</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo36, 10, 45)" role="button">C, D e A</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo36, 10, 45)" role="button">C, G e B</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo36, 10, 45)" role="button">D, E e F</div>
        <div class="etapa1-notas odarre" onclick="odarre(conteudo_etapa10.etapa10Conteudo36, 10, 45)" role="button">A, B e C</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>