<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Seguindo essa ideia, não existe nota que esteja 1 semitom acima de E1 e 1 semitom abaixo de F1.</h5>
            <p>Pois, entre E1 e F1 temos apenas 1 semitom.</p>
            <h5>O mesmo ocorre com B1 e C2. Não existe uma nota que esteja 1 semitom acima de B1 e 1 semitom abaixo de C2.</h5>
            <p>Pois, entre B1 e C2 temos apenas 1 semitom.</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo15, 10)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo17, 10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>