<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Existem sete (7) notas musicais: Dó - Ré - Mi - Fá - Sol - Lá - Si</h5>
        </div>
        <p>Para facilitar a memorização, vamos escrever o nome das notas musicais começando na nota Lá e terminando na nota Sol:</p>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="notas-bg">
            Lá = A
        </div>
        <div class="notas-bg">
            Si = B
        </div>
        <div class="notas-bg">
            Dó = C
        </div>
        <div class="notas-bg">
            Ré = D
        </div>
        <div class="notas-bg">
            Mi = E
        </div>
        <div class="notas-bg">
            Fá = F
        </div>
        <div class="notas-bg">
            Sol = G
        </div>
    </div>

</section>

<div class=" btn-etapas-container">
    <div class="btn-container">
        <a onclick="removePaginaAtual()" href="conteudo_inicial1.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa1.exercicio1, 1)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>