<section class="container-content">
    <div id="conteudo-etapa1" class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 2</h5>
        </div>
        <div>
            <p>Clique na letra que corresponde à nota Dó:</p>
        </div>

    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div onclick="odarre(conteudo_etapa1.exercicio3, 1, 2)" class="etapa1-notas odarre" role="button">
            A
        </div>
        <div onclick="odarre(conteudo_etapa1.exercicio3, 1, 2)" class="etapa1-notas odarre" role="button">
            B
        </div>
        <div onclick="otrec(conteudo_etapa1.exercicio3, 1, 2)" class="etapa1-notas otrec" role="button">
            C
        </div>
        <div onclick="odarre(conteudo_etapa1.exercicio3, 1, 2)" class="etapa1-notas odarre" role="button">
            D
        </div>
        <div onclick="odarre(conteudo_etapa1.exercicio3, 1, 2)" class="etapa1-notas odarre" role="button">
            E
        </div>
        <div onclick="odarre(conteudo_etapa1.exercicio3, 1, 2)" class="etapa1-notas odarre" role="button">
            F
        </div>
        <div onclick="odarre(conteudo_etapa1.exercicio3, 1, 2)" class="etapa1-notas odarre" role="button">
            G
        </div>
    </div>
    <div class="mensagem" id="mensagem"></div>

</section>