<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <p>Agora, considere o painel virtual abaixo contendo as notas de C1 a C3:</p>
        </div>
        <div class="d-flex justify-content-center ">
            <div class="w-50">C1
                <div class="h-100px cor-nota-do-c1 cor-hsl"></div>
            </div>
            <div class="w-50">D1
                <div class="h-100px cor-nota-re-d1 cor-hsl"></div>
            </div>
            <div class="w-50">E1
                <div class="h-100px cor-nota-mi-e1 cor-hsl"></div>
            </div>
            <div class="w-50">F1
                <div class="h-100px cor-nota-fa-f1 cor-hsl"></div>
            </div>
            <div class="w-50">G1
                <div class="h-100px cor-nota-sol-g1 cor-hsl"></div>
            </div>
            <div class="w-50">A1
                <div class="h-100px cor-nota-la-a1 cor-hsl"></div>
            </div>
            <div class="w-50">B1
                <div class="h-100px cor-nota-si-b1 cor-hsl"></div>
            </div>
            <div class="w-50">C2
                <div class="h-100px cor-nota-do-c2 cor-hsl"></div>
            </div>
            <div class="w-50">D2
                <div class="h-100px cor-nota-re-d2 cor-hsl"></div>
            </div>
            <div class="w-50">E2
                <div class="h-100px cor-nota-mi-e2 cor-hsl"></div>
            </div>
            <div class="w-50">F2
                <div class="h-100px cor-nota-fa-f2 cor-hsl"></div>
            </div>
            <div class="w-50">G2
                <div class="h-100px cor-nota-sol-g2 cor-hsl"></div>
            </div>
            <div class="w-50">A2
                <div class="h-100px cor-nota-la-a2 cor-hsl"></div>
            </div>
            <div class="w-50">B2
                <div class="h-100px cor-nota-si-b2 cor-hsl"></div>
            </div>
            <div class="w-50">C3
                <div class="h-100px cor-nota-do-c3 cor-hsl"></div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a onclick="removePaginaAtual(5)" href="conteudo_inicial5.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa5.etapa5Conteudo3, 5)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>