<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <p>Agora, considere o painel virtual abaixo contendo as notas de C2 a C4:</p>
        </div>
        <div class="d-flex justify-content-center ">
            <div class="w-50">C2
                <div class="h-100px cor-nota-do-c2 cor-hsl"></div>
            </div>
            <div class="w-50">D2
                <div class="h-100px cor-nota-re-d2 cor-hsl"></div>
            </div>
            <div class="w-50">E2
                <div class="h-100px cor-nota-mi-e2 cor-hsl"></div>
            </div>
            <div class="w-50">F2
                <div class="h-100px cor-nota-fa-f2 cor-hsl"></div>
            </div>
            <div class="w-50">G2
                <div class="h-100px cor-nota-sol-g2 cor-hsl"></div>
            </div>
            <div class="w-50">A2
                <div class="h-100px cor-nota-la-a2 cor-hsl"></div>
            </div>
            <div class="w-50">B2
                <div class="h-100px cor-nota-si-b2 cor-hsl"></div>
            </div>
            <div class="w-50">C3
                <div class="h-100px cor-nota-do-c3 cor-hsl"></div>
            </div>
            <div class="w-50">D3
                <div class="h-100px cor-nota-re-d3 cor-hsl"></div>
            </div>
            <div class="w-50">E3
                <div class="h-100px cor-nota-mi-e3 cor-hsl"></div>
            </div>
            <div class="w-50">F3
                <div class="h-100px cor-nota-fa-f3 cor-hsl"></div>
            </div>
            <div class="w-50">G3
                <div class="h-100px cor-nota-sol-g3 cor-hsl"></div>
            </div>
            <div class="w-50">A3
                <div class="h-100px cor-nota-la-a3 cor-hsl"></div>
            </div>
            <div class="w-50">B3
                <div class="h-100px cor-nota-si-b3 cor-hsl"></div>
            </div>
            <div class="w-50">C4
                <div class="h-100px cor-nota-do-c4 cor-hsl"></div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa5.etapa5Conteudo2, 5)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa5.etapa5Conteudo4, 5)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>